# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Libraries installed for python and default virtual environments
site-packages/
.venv*

# Binary and intermediate files from VS projects amongst others
bin/
obj/

# Ignore the generated icons
public/img/rendered/**

# Ignore some of the source directories
source/sl/*.txt
source/sl/*.json
source/sl/bp/**
source/sl/enums/**
source/sl/parse/**
source/sl/levels/**
source/sl/loc/**
source/siu/*.txt
source/siu/*.json
source/siu/bp/**
source/siu/enums/**
source/siu/parse/**
source/siu/levels/**
source/siu/loc/**
source/sw/*.txt
source/sw/*.json
source/sw/bp/**
source/sw/enums/**
source/sw/parse/**
source/sw/levels/**
source/sw/loc/**

# Editor directories and files
.vscode/*
.vs
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
